/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Poppins from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@layer base {
  :root {
    --background: 27 27 27;
    --foreground: 225 225 225;
    --muted: 115 115 115;
    --accent: 254 254 91;
  }
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.samarkan-font {
  font-family: 'Poppins', sans-serif;
}

.poppins-font {
  font-family: 'Poppins', sans-serif !important;
}

.font-poppins {
  font-family: 'Poppins', sans-serif !important;
}

.shiny-text {
  position: relative;
  display: inline-block;
  background: linear-gradient(90deg, #ebebea, #f0b41b, #f2db2f);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s linear infinite;
  font-family: inherit !important; /* Prevent overriding Poppins */
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .custom-bg {
    @apply bg-background/20 border border-accent/30 border-solid backdrop-blur-[6px] shadow-glass-inset hover:shadow-glass-sm;
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 100px);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sanskrit-logo {
  animation: reveal 5s ease forwards;
}

.reveal-text {
  opacity: 0;
  animation: revealAnimation 10s ease forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes revealAnimation {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.chatbot-container ::-webkit-scrollbar {
  width: 3px;
  padding: 10px;
}

.chatbot-container ::-webkit-scrollbar-track {
  background: wheat;
}

.chatbot-container ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.chatbot-container ::-webkit-scrollbar-thumb:hover {
  background: #cbbf4f;
}
